name: Deploy to Coolify

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Go environment
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.58
  build:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -v ./...

  deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Trigger Deployment
        run: |
          curl --request POST '${{ secrets.COOLIFY_WEBHOOK }}' \
          --fail \
          --header 'Authorization: Bearer ${{ secrets.COOLIFY_API_TOKEN }}' \
          --header 'CF-Access-Client-Id: ${{ secrets.CF_CLIENT_ID }}' \
          --header 'CF-Access-Client-Secret: ${{ secrets.CF_CLIENT_SECRET }}'
